@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Squada+One&display=swap');

body {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}
h1 {
    font-family: 'Squada One', cursive;
    padding: 10px;
}
h3 {
    font-family: 'Squada One', cursive;
    padding: 50px 0 0 10px;
}
.buttons {
    background-color: #000;
    border-radius: 15px;
    width: 120px;
    height: 120px;
    display: inline-block;
    cursor: pointer;
    margin: 25px;
    font-size: 14pt;
    font-family: 'Inconsolata', monospace;
}
  #lButton {
    color: #0ff;
    border: 3px solid #0ff;
    display: inline-block;
  }
  #pButton {
    color: #f0f;
    border: 3px solid #f0f;
    display: inline-block;
  }
  #sButton {
    color: #ff0;
    border: 3px solid #ff0;
    display: inline-block;
  }
  #link {
      text-decoration: none;
      font-weight: bold;
      color: #999;
  }

  #result {
      border: 5px solid #fff;
      border-radius: 15px;
      display: inline-block;
      width: 450px;
      height: 200px;
      padding: 15px;
      margin: 20px;
  }